@if (Type == MessageType.Error)
{
    <div class="bg-rose-200 border border-rose-400 border-solid break-all my-5 p-4 rounded-md text-rose-800">
        <i class="fa-solid fa-triangle-exclamation"></i >
        @(new MarkupString(Message))
    </div>
}

@if (Type == MessageType.Success)
{
    <div class="bg-lime-200 border border-lime-400 border-solid break-all my-5 p-4 rounded-md text-lime-800">
        <i class="fa-check-square fa-solid"></i>
        @(new MarkupString(Message))
    </div>
}

@if (Type == MessageType.SuccessClickable)
{
<div class="bg-lime-200 border border-lime-400 border-solid break-all my-5 p-4 rounded-md text-lime-800">
    <i class="fa-check-square fa-solid"></i>
    <button class="hover:font-bold"
            @onclick="OnMessageTextClickCallback">
        @(new MarkupString(Message))
    </button>
</div>
}

@if (Type == MessageType.Info)
{
    <div class="bg-cyan-200 border border-cyan-400 border-solid break-all my-5 p-4 rounded-md text-cyan-800">
        <i class="fa-info-circle fa-solid"></i>
        @(new MarkupString(Message))
    </div>
}

@if (Type == MessageType.InfoClickable)
{
    <div class="bg-cyan-200 border border-cyan-400 border-solid break-all my-5 p-4 rounded-md text-cyan-800">
        <i class="fa-info-square fa-solid"></i>
        <button class="hover:font-bold"
                @onclick="OnMessageTextClickCallback">
            @(new MarkupString(Message))
        </button>
    </div>
}

@code {
    [Parameter] public required string Message { get; set; }
    [Parameter] public required MessageType Type { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnMessageTextClickCallback { get; set; }

    public enum MessageType
    {
        Info,
        InfoClickable,
        Error,
        Success,
        SuccessClickable
    }
}