@page "/"
@rendermode InteractiveServer

<PageTitle>AWS Workmail aliases</PageTitle>

<div class="container mx-auto my-3 px-4">
    <div class="mb-10 mt-4">
        <Header AliasCount="@_aliases?.Count"
                class="font-medium text-3xl">
        </Header>
    </div>

    @if (!string.IsNullOrWhiteSpace(_flashMessage.Error))
    {
        <FlashMessage Message="@_flashMessage.Error"
                      Type="FlashMessage.MessageType.Error">
        </FlashMessage>
    }

    @if (!string.IsNullOrWhiteSpace(_flashMessage.Success))
    {
        <FlashMessage Message="@_flashMessage.Success"
                      Type="FlashMessage.MessageType.Success">
        </FlashMessage>
    }

    @if (!string.IsNullOrWhiteSpace(_flashMessage.Info))
    {
        <FlashMessage Message="@_flashMessage.Info"
                      Type="FlashMessage.MessageType.Info">
        </FlashMessage>
    }

    @if (!string.IsNullOrWhiteSpace(_flashMessage.SuccessClickable))
    {
        <FlashMessage Message="@_flashMessage.SuccessClickable"
                      OnCopyAliasToClipboardCallback="@(() => CopyAliasToClipboard(_newlyCreatedAlias))"
                      Type="FlashMessage.MessageType.SuccessClickable">
        </FlashMessage>
    }

    <EditForm FormName="Alias"
              Model="AliasModel"
              OnValidSubmit="CreateAlias">
        <div class="flex flex-row flex-wrap gap-2">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputSelect @bind-Value="AliasModel!.Domain"
                         class="border border-slate-200 border-solid h-14 rounded-md text-gray-500"
                         required>
                <option selected
                        value="">
                    -- Select a domain --
                </option>

                @foreach (var domain in _domains ?? Enumerable.Empty<string>())
                {
                    <option value="@domain">@domain</option>
                }
            </InputSelect>

            <div class="relative">
                <InputText @bind-Value="AliasModel!.Mailbox"
                           class="block border-slate-200 focus:border-blue-600 h-14 pb-2.5 peer/mailbox pt-5 px-2.5 rounded-md text-gray-900 text-sm w-80"
                           id="mailbox"
                           placeholder=" "
                           required
                           type="text" />
                <label class="absolute peer-placeholder-shown/mailbox:scale-100 scale-75 start-2.5 text-gray-500 text-sm top-4 z-10
                      -translate-y-4 duration-300 origin-[0] peer-focus/mailbox:-translate-y-4 peer-focus/mailbox:scale-75 peer-focus/mailbox:text-blue-600 peer-placeholder-shown/mailbox:translate-y-0 transform"
                       for="mailbox">
                    Mailbox alias
                </label>
            </div>

            <div class="relative">
                <input @bind="_aliasLength"
                       class="block border-slate-200 focus:border-blue-600 h-14 pb-2.5 peer/length pt-5 px-2.5 rounded-md shrink-0 text-gray-900 text-sm w-24"
                       id="mailbox-alias-length"
                       max="32"
                       min="8"
                       placeholder=" "
                       type="number" />
                <label class="absolute peer-placeholder-shown/length:scale-100 scale-75 start-2.5 text-gray-500 text-sm top-4 z-10
                       -translate-y-4 duration-300 origin-[0] peer-focus/length:-translate-y-4 peer-focus/length:scale-75 peer-focus/length:text-blue-600 peer-placeholder-shown/length:translate-y-0 transform"
                       for="mailbox-alias-length">
                    Alias length
                </label>
            </div>

            <button class="align-middle border border-slate-500 focus:outline focus:outline-4 focus:outline-slate-300 group h-14 hover:bg-slate-500 hover:text-white px-4 rounded-lg text-slate-500"
                    @onclick="GenerateRandomAlias"
                    type="button">
                <i class="fa-shuffle fa-solid fa-xl fill-slate-500 group-hover:fill-white"></i>
                <span>Randomize</span>
            </button>
        </div>

        <button class="align-middle bg-sky-500 block border border-sky-500 h-14 hover:bg-sky-600 hover:border-sky-600 mt-5 px-4 rounded-lg text-white"
                type="submit">
            <i class="fa-at fa-solid fa-xl"></i>
            <span>Create</span>
        </button>
    </EditForm>

    @if (_aliases?.Any() == false)
    {
        <pre class="text-lg">Loading...</pre>
    }
    else
    {
        <div class="mt-10">

            <EditForm EditContext="_searchEditContext"
                      FormName="Search"
                      OnValidSubmit="SearchAlias">
                <InputText @bind-Value="SearchModel!.Alias"
                           type="text" />
                <button @onclick="ClearSearcForm"
                        type="reset">
                    Reset
                </button>
                <div>
                    <DataAnnotationsValidator />
                    @* <ValidationSummary /> *@
                    <ValidationMessage For="@(() => SearchModel!.Alias)" />
                </div>
            </EditForm>

            @foreach (var alias in (_filteredAliases ?? _aliases ?? Enumerable.Empty<string>()).Select((value, index) => new
                      {
                          Value = value,
                          Index = index
                      }))
            {
                var backgroundClass = alias.Index % 2 == 0 ? "bg-neutral-100" : string.Empty;
                var aliasParts = alias.Value.Split('@');
                var mailbox = aliasParts[0];
                var domain = aliasParts[1];

                <div class="@backgroundClass flex gap-2 items-center p-4"
                     @key="alias.Value">
                    <button class="bg-slate-900 h-10 hover:bg-slate-700 px-4 rounded-lg text-white"
                            @onclick="@(_ => CopyAliasToClipboard(alias.Value))">
                        <i class="fa-clipboard fa-solid"></i>
                        <span class="hidden md:inline text-nowrap">Copy to clipboard</span>
                    </button>
                    <span class="break-all flex-1">
                        <MailboxName Domain="@domain"
                                     Mailbox="@mailbox"
                                     SearchPhrase="@SearchModel?.Alias">
                        </MailboxName>
                    </span>

                    @if (!string.IsNullOrWhiteSpace(_showDeleteChoicesFor) &&
                         _showDeleteChoicesFor == alias.Value)
                    {
                        <button class="bg-red-200 h-10 hover:bg-red-500 hover:text-white px-4 rounded-lg text-neutral-500"
                                @onclick="@(_ => DeleteAlias(alias.Value))"
                                type="button">
                            Yes
                        </button>

                        <button class="bg-slate-500 font-bold h-10 hover:bg-slate-400 px-4 rounded-lg text-white"
                                @onclick="() => _showDeleteChoicesFor = string.Empty"
                                type="button">
                            No
                        </button>
                    }
                    else
                    {
                        <button class="bg-rose-500 h-10 hover:bg-rose-700 px-4 rounded-lg text-white"
                                @onclick="@(_ => _showDeleteChoicesFor = alias.Value)"
                                type="button">
                            <i class="fa-solid fa-trash-can"></i>
                            <span class="hidden md:inline">Delete</span>
                        </button>
                    }
                </div>
            }
        </div>
    }
</div>